$space: 1rem;

.own-container {
  padding-left: ($space * 5) !important;
  padding-right: ($space * 5) !important;

  @media (max-width: 1400px) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

header {
  height: 80px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);

  .logo,
  .right-bar {
    flex: 1 0 100px;
    padding: 15px 0;
  }

  
  .right-bar {
    .left-nav {
      margin-bottom: 0;

      li {
        a {
          display: inline-block;
          padding: 10px;
          text-decoration: none;
          color: #000;
          font-weight: bold;
          border-radius: 30px;

          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }
        }

        &:last-child {
          a {
            padding: 14px;
            margin-right: 15px;
          }
        }
      }
    }

    .dropdown {
      .btn {
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 40px;

        .hamburger {
          span {
            display: block;
            width: 16px;
            height: 1px;
            background: #000;

            &:nth-child(2) {
              margin: 3px 0;
            }
          }
        }

        img {
          opacity: 0.5;
        }

        &:after {
          display: none;
        }

        &.show,
        &:hover {
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
      }

      ul.dropdown-menu {
        width: 240px;
        border: none;
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
        top: 13px !important;

        li {
          a {
            display: block;
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

/* ---------------- SWIPER DESIGN ---------------- */
/* ஒவ்வொரு slideக்கும் fixed width */
.swiper-slide {
  width: 100px !important;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* icons */
.swiper-slide img {
  width: 40px;
  height: 40px;
  margin-bottom: 6px;
  object-fit: contain;
}

/* arrows க்கு style */
.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
  top: 40% !important;
  z-index: 20 !important;
}

/* swiper container */
.mySwiper {
  overflow: hidden;   /* swiper handle பண்ணும் */
  position: relative;
  padding: 10px 40px;
}
